@charset "utf-8";
body { 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

header {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
		
	margin-left: 50px;
	
}

.headertext { 
    display: flex;
	flex-direction: row;
	justify-content: space-between;

}
h1 {
    font-weight: bolder;
    font-size: 30px;
}
h1:active { 
	color: gray;
}

.logo {
    text-align: right;
	margin-right: 50px;
}
h2 {
    font-weight: normal;
    font-size: 30px;
    
}

menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
li {
    display: inline;
}

button {
    border: solid;
    background-color: white;
    border-color: black;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 90px;
}
button:hover { 
	background-color: gray;
}
button:active { 
	background-color: black;
	color: white;
}
a {
    color: black;
    text-decoration: none;	
}

main {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-top-style: solid;
    
}
.indexflex { 
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main-img { 
    width: 50%;
    height: 450px;
    object-fit: cover;
}
.photogrid {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: space-between;
}
 .grid-img {
    object-fit: cover;
    width: 400px;
    height: 300px;

 }
.aboutmain {
    display: flex;
	flex-direction:row;
	justify-content:center;
}
.abouttext {
    font-family: inherit;
    position: absolute;
    top: 50%;
    color: black;
    background-color: white;
    width: 750px;
    height: 375px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;

}
.aboutgif {
    object-fit: cover;
    width: 1235px;
}
.formcontainer {

}
form {
    width: 100%; 
    padding: 12px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    resize: vertical;
}
.submitbutton {
    color:gray;
}
.contact-gif {
    height: 450px;
    object-fit: cover;
}

footer{
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 50px;
	margin-right: 50px;
    border-top-style: solid;
	background-color: white;
    padding-top: 25px;
}
p1 {
    font-size: small;
}
.social {
    float: right;
	
}
